.custome-calender .rbc-button-link span {
  font-size: 20px !important;
}

.rbc-header {
  background-color: rgba(92, 163, 221, 0.425);
  color: white;
}

/* .rbc-time-slot {
  margin: 20px;
} */

.rbc-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  /* background-color: transparent !important; */
}

.rbc-label {
  color: rgb(5, 0, 0);
}

.rbc-time-gutter {
  background-color: rgba(92, 163, 221, 0.425);
}

.rbc-events-containor {
  width: 100% !important;
}

.rbc-timeslot-group {
  min-height: 120px !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: transparent;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.modal-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.modal-form input,
.modal-form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-form button {
  width: calc(50% - 5px);
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.modal-form button.secondary {
  background-color: gray;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
