@import "../vars.css";

body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.registerpage {
  display: flex;
  height: 100vh;
  width: 100%;
}

.leftside {
  width: 50%;
  background: linear-gradient(to top, rgb(13, 57, 65), rgb(76, 108, 114));
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightside {
  width: 50%;
}

.rightside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.registercontainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.conatinorRegister {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  color: var(--color-text);
  margin-top: 30px;
}

.text {
  color: var(--color-text);
  font-size: 40px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  border-radius: 10px;
  background-color: var(--color-text);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 55px;
}

.input {
  display: flex;
  align-items: center;
  background: var(--color-text);
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}

.input img {
  margin: 0px 20px;
}

.input input {
  border: 0px;
  outline: 0px;
  background: transparent;
  font-size: 19px;
  height: 50px;
  width: 100%;
}

.getotpcontainer {
  position: relative;
}

.getotp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 15px;
  color: var(--color-text);
  background: linear-gradient(to top, rgb(13, 57, 65), rgb(76, 108, 114));
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.submitcontainor {
  background: var(--color-text);
  width: 200px;
  height: 70px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50px;
}

.eyeopenimg {
  position: relative;
}

.eyeopen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  font-size: 15px;
  color: var(--color-text);
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  width: 40px;
}

.Spanregister {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: var(--color-text);
  font-weight: 500;
}

.spanreg {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--span-color);
  cursor: pointer;
  font-weight: 500;
}

.errormessage {
  text-align: center;
  margin-top: 10px;
  color: var(--color-text);
  font-size: 15px;
  font-weight: 500;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
