/* Sidebar  */

@import "../vars.css";

body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: var(--color-text);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebartitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebartitle > span {
  display: none;
}

.sidebarbrand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.sidebarlistitem {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebarlistitem:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sidebarlistitem > a {
  text-decoration: none;
  color: var(--primary-color);
}

.sidebarlist {
  padding: 0;
  list-style-type: none;
}

.iconheader {
  color: var(--primary-color);
}

.sidebarresponsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.iconheader {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.iconheader {
  margin-right: 5px;
}

.closeicon {
  color: var(--secondary-color);
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }

  .sidebartitle > span {
    display: inline;
  }
}

/* endsidebar */
